.form-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 12px;
    
    min-width: 378px;
    height: 40px;
}

.button {
    position: absolute;
    width: 378px;
    height: 46px;
    left: 0px;
    top: 263px;
}