@import '~antd/dist/antd.css';

.App {
  text-align: center;
  background-color: #D7E4F3;
}

.circle-button {
  position: fixed;
  right: 77px;
  bottom: 42px;
}

.footer-text {
  position: fixed;
  bottom: 27px;
  margin-left:auto;
  margin-right: auto;
}

