@import '~antd/dist/antd.css';

.App {
  text-align: center;
  background-color: #D7E4F3;
}

.circle-button {
  position: fixed;
  right: 77px;
  bottom: 42px;
}

.footer-text {
  position: fixed;
  bottom: 27px;
  margin-left:auto;
  margin-right: auto;
}

.subtitle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.title {
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  font-size: 33px;
  line-height: 38px;
  align-items: center;
}

.title-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}